<div ng-show="getCurrentSong()">
  <div>
    <p>{{getCurrentSong().name}}</p>
  </div>
    <div class="pull-left">
      <button class="btn btn-default" ng-click="previous()">
        <span class="glyphicon glyphicon-step-backward"></span>
      </button>
      <button class="btn btn-default" ng-click="toggle()">
        <span class="glyphicon" ng-class="{'glyphicon-pause': isPlaying(), 'glyphicon-play': !isPlaying()}"></span>
      </button>
      <button class="btn btn-default" ng-click="next()">
        <span class="glyphicon glyphicon-step-forward"></span>
      </button>
    <button class="btn btn-default" ng-click="shuffle()" ng-class="{active: isItShuffling() === true}"> 
      <i class="fa fa-random"></i>
      <!-- <span class="glyphicon glyphicon-icon-ipod-shuffle"</span> -->
    </button>
    </div>
    <div class="bar">
      <div scruble class="progress">
        <div  class="progress-bar" ng-style="{width: getPercent() + '%'}"></div>
      </div>
    </div>
</div>